*.a
*.o
*.o.*
*.d
*.def
*.dll
*.dylib
*.exe
*.exp
*.gcda
*.gcno
*.h.c
*.ilk
*.lib
*.pc
*.pdb
*.so
*.so.*
*.swp
*.ver
*.version
*.ptx
*.ptx.c
*_g
\#*
.\#*
/.config
/.version
/ffmpeg
/ffplay
/ffprobe
/config.asm
/config.h
/coverage.info
/avversion.h
/lcov/
/src
/mapfile
/ios
/ios-scratch
/ios-this
/android
config.h.bak
ios-thin/arm64/include/libavcodec/ac3_parser.h
ios-thin/arm64/include/libavcodec/adts_parser.h
ios-thin/arm64/include/libavcodec/avcodec.h
ios-thin/arm64/include/libavcodec/avdct.h
ios-thin/arm64/include/libavcodec/avfft.h
ios-thin/arm64/include/libavcodec/d3d11va.h
ios-thin/arm64/include/libavcodec/dirac.h
ios-thin/arm64/include/libavcodec/dv_profile.h
ios-thin/arm64/include/libavcodec/dxva2.h
ios-thin/arm64/include/libavcodec/jni.h
ios-thin/arm64/include/libavcodec/mediacodec.h
ios-thin/arm64/include/libavcodec/qsv.h
ios-thin/arm64/include/libavcodec/vaapi.h
ios-thin/arm64/include/libavcodec/vdpau.h
ios-thin/arm64/include/libavcodec/version.h
ios-thin/arm64/include/libavcodec/videotoolbox.h
ios-thin/arm64/include/libavcodec/vorbis_parser.h
ios-thin/arm64/include/libavcodec/xvmc.h
ios-thin/arm64/include/libavfilter/avfilter.h
ios-thin/arm64/include/libavfilter/buffersink.h
ios-thin/arm64/include/libavfilter/buffersrc.h
ios-thin/arm64/include/libavfilter/version.h
ios-thin/arm64/include/libavformat/avformat.h
ios-thin/arm64/include/libavformat/avio.h
ios-thin/arm64/include/libavformat/version.h
ios-thin/arm64/include/libavutil/adler32.h
ios-thin/arm64/include/libavutil/aes.h
ios-thin/arm64/include/libavutil/aes_ctr.h
ios-thin/arm64/include/libavutil/attributes.h
ios-thin/arm64/include/libavutil/audio_fifo.h
ios-thin/arm64/include/libavutil/avassert.h
ios-thin/arm64/include/libavutil/avconfig.h
ios-thin/arm64/include/libavutil/avstring.h
ios-thin/arm64/include/libavutil/avutil.h
ios-thin/arm64/include/libavutil/base64.h
ios-thin/arm64/include/libavutil/blowfish.h
ios-thin/arm64/include/libavutil/bprint.h
ios-thin/arm64/include/libavutil/bswap.h
ios-thin/arm64/include/libavutil/buffer.h
ios-thin/arm64/include/libavutil/camellia.h
ios-thin/arm64/include/libavutil/cast5.h
ios-thin/arm64/include/libavutil/common.h
ios-thin/arm64/include/libavutil/cpu.h
ios-thin/arm64/include/libavutil/crc.h
ios-thin/arm64/include/libavutil/des.h
ios-thin/arm64/include/libavutil/dict.h
ios-thin/arm64/include/libavutil/display.h
ios-thin/arm64/include/libavutil/downmix_info.h
ios-thin/arm64/include/libavutil/encryption_info.h
ios-thin/arm64/include/libavutil/error.h
ios-thin/arm64/include/libavutil/eval.h
ios-thin/arm64/include/libavutil/ffversion.h
ios-thin/arm64/include/libavutil/fifo.h
ios-thin/arm64/include/libavutil/file.h
ios-thin/arm64/include/libavutil/frame.h
ios-thin/arm64/include/libavutil/hash.h
ios-thin/arm64/include/libavutil/hmac.h
ios-thin/arm64/include/libavutil/hwcontext.h
ios-thin/arm64/include/libavutil/hwcontext_cuda.h
ios-thin/arm64/include/libavutil/hwcontext_d3d11va.h
ios-thin/arm64/include/libavutil/hwcontext_drm.h
ios-thin/arm64/include/libavutil/hwcontext_dxva2.h
ios-thin/arm64/include/libavutil/hwcontext_mediacodec.h
ios-thin/arm64/include/libavutil/hwcontext_qsv.h
ios-thin/arm64/include/libavutil/hwcontext_vaapi.h
ios-thin/arm64/include/libavutil/hwcontext_vdpau.h
ios-thin/arm64/include/libavutil/hwcontext_videotoolbox.h
ios-thin/arm64/include/libavutil/imgutils.h
ios-thin/arm64/include/libavutil/intfloat.h
ios-thin/arm64/include/libavutil/intreadwrite.h
ios-thin/arm64/include/libavutil/lfg.h
ios-thin/arm64/include/libavutil/log.h
ios-thin/arm64/include/libavutil/macros.h
ios-thin/arm64/include/libavutil/mastering_display_metadata.h
ios-thin/arm64/include/libavutil/mathematics.h
ios-thin/arm64/include/libavutil/md5.h
ios-thin/arm64/include/libavutil/mem.h
ios-thin/arm64/include/libavutil/motion_vector.h
ios-thin/arm64/include/libavutil/murmur3.h
ios-thin/arm64/include/libavutil/opt.h
ios-thin/arm64/include/libavutil/parseutils.h
ios-thin/arm64/include/libavutil/pixdesc.h
ios-thin/arm64/include/libavutil/pixelutils.h
ios-thin/arm64/include/libavutil/pixfmt.h
ios-thin/arm64/include/libavutil/random_seed.h
ios-thin/arm64/include/libavutil/rational.h
ios-thin/arm64/include/libavutil/rc4.h
ios-thin/arm64/include/libavutil/replaygain.h
ios-thin/arm64/include/libavutil/ripemd.h
ios-thin/arm64/include/libavutil/samplefmt.h
ios-thin/arm64/include/libavutil/sha.h
ios-thin/arm64/include/libavutil/sha512.h
ios-thin/arm64/include/libavutil/spherical.h
ios-thin/arm64/include/libavutil/stereo3d.h
ios-thin/arm64/include/libavutil/tea.h
ios-thin/arm64/include/libavutil/threadmessage.h
ios-thin/arm64/include/libavutil/time.h
ios-thin/arm64/include/libavutil/timecode.h
ios-thin/arm64/include/libavutil/timestamp.h
ios-thin/arm64/include/libavutil/tree.h
ios-thin/arm64/include/libavutil/twofish.h
ios-thin/arm64/include/libavutil/version.h
ios-thin/arm64/include/libavutil/xtea.h
ios-thin/arm64/include/libswresample/swresample.h
ios-thin/arm64/include/libswresample/version.h
ios-thin/arm64/include/libswscale/swscale.h
ios-thin/arm64/include/libswscale/version.h
ios-thin/arm64/share/ffmpeg/examples/avio_dir_cmd.c
ios-thin/arm64/share/ffmpeg/examples/avio_reading.c
ios-thin/arm64/share/ffmpeg/examples/decode_audio.c
ios-thin/arm64/share/ffmpeg/examples/decode_video.c
ios-thin/arm64/share/ffmpeg/examples/demuxing_decoding.c
ios-thin/arm64/share/ffmpeg/examples/encode_audio.c
ios-thin/arm64/share/ffmpeg/examples/encode_video.c
ios-thin/arm64/share/ffmpeg/examples/extract_mvs.c
ios-thin/arm64/share/ffmpeg/examples/filter_audio.c
ios-thin/arm64/share/ffmpeg/examples/filtering_audio.c
ios-thin/arm64/share/ffmpeg/examples/filtering_video.c
ios-thin/arm64/share/ffmpeg/examples/http_multiclient.c
ios-thin/arm64/share/ffmpeg/examples/hw_decode.c
ios-thin/arm64/share/ffmpeg/examples/Makefile
ios-thin/arm64/share/ffmpeg/examples/metadata.c
ios-thin/arm64/share/ffmpeg/examples/muxing.c
ios-thin/arm64/share/ffmpeg/examples/qsvdec.c
ios-thin/arm64/share/ffmpeg/examples/README
ios-thin/arm64/share/ffmpeg/examples/remuxing.c
ios-thin/arm64/share/ffmpeg/examples/resampling_audio.c
ios-thin/arm64/share/ffmpeg/examples/scaling_video.c
ios-thin/arm64/share/ffmpeg/examples/transcode_aac.c
ios-thin/arm64/share/ffmpeg/examples/transcoding.c
ios-thin/arm64/share/ffmpeg/examples/vaapi_encode.c
ios-thin/arm64/share/ffmpeg/examples/vaapi_transcode.c
ios-thin/armv7/include/libavcodec/ac3_parser.h
ios-thin/armv7/include/libavcodec/adts_parser.h
ios-thin/armv7/include/libavcodec/avcodec.h
ios-thin/armv7/include/libavcodec/avdct.h
ios-thin/armv7/include/libavcodec/avfft.h
ios-thin/armv7/include/libavcodec/d3d11va.h
ios-thin/armv7/include/libavcodec/dirac.h
ios-thin/armv7/include/libavcodec/dv_profile.h
ios-thin/armv7/include/libavcodec/dxva2.h
ios-thin/armv7/include/libavcodec/jni.h
ios-thin/armv7/include/libavcodec/mediacodec.h
ios-thin/armv7/include/libavcodec/qsv.h
ios-thin/armv7/include/libavcodec/vaapi.h
ios-thin/armv7/include/libavcodec/vdpau.h
ios-thin/armv7/include/libavcodec/version.h
ios-thin/armv7/include/libavcodec/videotoolbox.h
ios-thin/armv7/include/libavcodec/vorbis_parser.h
ios-thin/armv7/include/libavcodec/xvmc.h
ios-thin/armv7/include/libavfilter/avfilter.h
ios-thin/armv7/include/libavfilter/buffersink.h
ios-thin/armv7/include/libavfilter/buffersrc.h
ios-thin/armv7/include/libavfilter/version.h
ios-thin/armv7/include/libavformat/avformat.h
ios-thin/armv7/include/libavformat/avio.h
ios-thin/armv7/include/libavformat/version.h
ios-thin/armv7/include/libavutil/adler32.h
ios-thin/armv7/include/libavutil/aes.h
ios-thin/armv7/include/libavutil/aes_ctr.h
ios-thin/armv7/include/libavutil/attributes.h
ios-thin/armv7/include/libavutil/audio_fifo.h
ios-thin/armv7/include/libavutil/avassert.h
ios-thin/armv7/include/libavutil/avconfig.h
ios-thin/armv7/include/libavutil/avstring.h
ios-thin/armv7/include/libavutil/avutil.h
ios-thin/armv7/include/libavutil/base64.h
ios-thin/armv7/include/libavutil/blowfish.h
ios-thin/armv7/include/libavutil/bprint.h
ios-thin/armv7/include/libavutil/bswap.h
ios-thin/armv7/include/libavutil/buffer.h
ios-thin/armv7/include/libavutil/camellia.h
ios-thin/armv7/include/libavutil/cast5.h
ios-thin/armv7/include/libavutil/channel_layout.h
ios-thin/armv7/include/libavutil/common.h
ios-thin/armv7/include/libavutil/cpu.h
ios-thin/armv7/include/libavutil/crc.h
ios-thin/armv7/include/libavutil/des.h
ios-thin/armv7/include/libavutil/dict.h
ios-thin/armv7/include/libavutil/display.h
ios-thin/armv7/include/libavutil/downmix_info.h
ios-thin/armv7/include/libavutil/encryption_info.h
ios-thin/armv7/include/libavutil/error.h
ios-thin/armv7/include/libavutil/eval.h
ios-thin/armv7/include/libavutil/ffversion.h
ios-thin/armv7/include/libavutil/fifo.h
ios-thin/armv7/include/libavutil/file.h
ios-thin/armv7/include/libavutil/frame.h
ios-thin/armv7/include/libavutil/hash.h
ios-thin/armv7/include/libavutil/hmac.h
ios-thin/armv7/include/libavutil/hwcontext.h
ios-thin/armv7/include/libavutil/hwcontext_cuda.h
ios-thin/armv7/include/libavutil/hwcontext_d3d11va.h
ios-thin/armv7/include/libavutil/hwcontext_drm.h
ios-thin/armv7/include/libavutil/hwcontext_dxva2.h
ios-thin/armv7/include/libavutil/hwcontext_mediacodec.h
ios-thin/armv7/include/libavutil/hwcontext_qsv.h
ios-thin/armv7/include/libavutil/hwcontext_vaapi.h
ios-thin/armv7/include/libavutil/hwcontext_vdpau.h
ios-thin/armv7/include/libavutil/hwcontext_videotoolbox.h
ios-thin/armv7/include/libavutil/imgutils.h
ios-thin/armv7/include/libavutil/intfloat.h
ios-thin/armv7/include/libavutil/intreadwrite.h
ios-thin/armv7/include/libavutil/lfg.h
ios-thin/armv7/include/libavutil/log.h
ios-thin/armv7/include/libavutil/macros.h
ios-thin/armv7/include/libavutil/mastering_display_metadata.h
ios-thin/armv7/include/libavutil/mathematics.h
ios-thin/armv7/include/libavutil/md5.h
ios-thin/armv7/include/libavutil/mem.h
ios-thin/armv7/include/libavutil/motion_vector.h
ios-thin/armv7/include/libavutil/murmur3.h
ios-thin/armv7/include/libavutil/opt.h
ios-thin/armv7/include/libavutil/parseutils.h
ios-thin/armv7/include/libavutil/pixdesc.h
ios-thin/armv7/include/libavutil/pixelutils.h
ios-thin/armv7/include/libavutil/pixfmt.h
ios-thin/armv7/include/libavutil/random_seed.h
ios-thin/armv7/include/libavutil/rational.h
ios-thin/armv7/include/libavutil/rc4.h
ios-thin/armv7/include/libavutil/replaygain.h
ios-thin/armv7/include/libavutil/ripemd.h
ios-thin/armv7/include/libavutil/samplefmt.h
ios-thin/armv7/include/libavutil/sha.h
ios-thin/armv7/include/libavutil/sha512.h
ios-thin/armv7/include/libavutil/spherical.h
ios-thin/armv7/include/libavutil/stereo3d.h
ios-thin/armv7/include/libavutil/tea.h
ios-thin/armv7/include/libavutil/threadmessage.h
ios-thin/armv7/include/libavutil/time.h
ios-thin/armv7/include/libavutil/timecode.h
ios-thin/armv7/include/libavutil/timestamp.h
ios-thin/armv7/include/libavutil/tree.h
ios-thin/armv7/include/libavutil/twofish.h
ios-thin/armv7/include/libavutil/version.h
ios-thin/armv7/include/libavutil/xtea.h
ios-thin/armv7/include/libswresample/swresample.h
ios-thin/armv7/include/libswresample/version.h
ios-thin/armv7/include/libswscale/swscale.h
ios-thin/armv7/include/libswscale/version.h
ios-thin/armv7/share/ffmpeg/examples/avio_dir_cmd.c
ios-thin/armv7/share/ffmpeg/examples/avio_reading.c
ios-thin/armv7/share/ffmpeg/examples/decode_audio.c
ios-thin/armv7/share/ffmpeg/examples/decode_video.c
ios-thin/armv7/share/ffmpeg/examples/demuxing_decoding.c
ios-thin/armv7/share/ffmpeg/examples/encode_audio.c
ios-thin/armv7/share/ffmpeg/examples/encode_video.c
ios-thin/armv7/share/ffmpeg/examples/extract_mvs.c
ios-thin/armv7/share/ffmpeg/examples/filter_audio.c
ios-thin/armv7/share/ffmpeg/examples/filtering_audio.c
ios-thin/armv7/share/ffmpeg/examples/filtering_video.c
ios-thin/armv7/share/ffmpeg/examples/http_multiclient.c
ios-thin/armv7/share/ffmpeg/examples/hw_decode.c
ios-thin/armv7/share/ffmpeg/examples/Makefile
ios-thin/armv7/share/ffmpeg/examples/metadata.c
ios-thin/armv7/share/ffmpeg/examples/muxing.c
ios-thin/armv7/share/ffmpeg/examples/qsvdec.c
ios-thin/armv7/share/ffmpeg/examples/README
ios-thin/armv7/share/ffmpeg/examples/remuxing.c
ios-thin/armv7/share/ffmpeg/examples/resampling_audio.c
ios-thin/armv7/share/ffmpeg/examples/scaling_video.c
ios-thin/armv7/share/ffmpeg/examples/transcode_aac.c
ios-thin/armv7/share/ffmpeg/examples/transcoding.c
ios-thin/armv7/share/ffmpeg/examples/vaapi_encode.c
ios-thin/armv7/share/ffmpeg/examples/vaapi_transcode.c
